---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="page-top">
{% include nav-blog.html %}
<section class="task-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>A techtábor programja</h1>
      </div>
    </div>
  </div>
</section>
<section >
<div class="container theory"><div class="row"><div class="col-xs-12" >

<h2>Összefoglaló</h2>
<p>
  Mi abban hiszünk, hogy a technológia segítségével javíthatunk a környezetünkön. Azonban az ehhez szükséges szemléletet és ismereteket ma sehol sem tanítják. Ennek oktatását és a támogató környezet biztosítását tűztük ki célul.
  A diákok maguk keresnek egy, a környezetüknek fontos problémát, és ők is tervezik meg a megoldást, felhasználói beszélgetések és mentori segítség alapján.
  Az év során a diákok kétfős csapatokban dolgoznak a terméken. Eközben technológiákat, ipari szoftverjelesztési praktikákat, termék tervezés és pprojekt vezetés elveket gyakorolnak.
  A diákok az év során folyamatos mentori támogatással dolgoznak a projektjükön saját időbeosztás szerint. Havi rendszerességgel közös foglalkozásokat szervezünk ahol egy-egy specikus téma körüljárása mellett koncentráltan tudnak haladni, segítséget kérni, és közösségépítésre is lehetőség adódik.
</p>

<h2>Részletek</h2>

<h3>Alapelvek</h3>

<h3>A program szerkezete</h3>

<h3>A mentorok szerepe</h3>

<h3>Kit várunk a táborba</h3>

</div></div></div>
</section>

{% include contact.html %} {% include scripts.html %}
</body>
</html>
