<h4><a data-toggle="collapse" href="#checking-collapse">Tudnivalók az ellenőrzésről <i class="fa fa-angle-down"></i></a></h4>
<div class="collapse" id="checking-collapse">
<p>Az ellenőrzéskor a kimenetedet karakterenként hasonlítjuk össze az elvárt kimenettel.
    Ezért tökéletesen meg kell egyeznie a kettőnek. Az elvárt kimenetben látható karaktereken
    kívül csak szóköz és sorvége (<code>"\n"</code>) karaktert használj! Pontosan annyi szóközt tegyél,
    amennyit a feladat elvár! A sorok végén ne legyen szóköz. Az utolsó sor végén ne legyen sorvége karakter.
</p>
</div>