<h4><a data-toggle="collapse" href="#io-collapse">Input/output kezelés <i class="fa fa-angle-down"></i></a></h4>
<div class="collapse" id="io-collapse">
<p>A bemenetről olvasni az <code>input()</code> függvénnyel tudsz, ez mindig a bemenet következő sorát adja vissza string-ként, ha már nincs több sor, akkor pedig üres string-et ad vissza. Kiíráshoz használd a <code>print()</code> függvényt, ami egy string-et vár. Nem tesz sorvége karaktert (<code>\n</code>), szóval ha új sort akarsz kezdeni a kimeneten, arról neked kell gondoskodnod (<code>print("\n");</code>).</p>
</div>