<section id="dojos" class="cta">
    <div class="cta-content">
        <div class="container">
            <h2>Kóstolj bele a gyakorlatainkba online, 5-10 perc alatt!</h2>
            <a href="/greeting-kata/" class="btn btn-outline btn-xl page-scroll">Iteratív programozás</a>
            <a href="/ux-principles/" class="btn btn-outline btn-xl page-scroll">UX elmélet</a>
            <a href="/ux-practice/" class="btn btn-outline btn-xl page-scroll">UX gyakorlat</a>
            <!-- TODO: command line dojo ??
                <a href="/command-line/" class="btn btn-outline btn-xl page-scroll">Command line dojo</a>
            -->
        </div>
    </div>
    <div class="overlay"></div>
</section>
