
    <section id="education" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Jelentkezés</h2>
                        <hr />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup nexus7 portrait black">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/img/techtabor/almasderes-1-2.png" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <a href="https://goo.gl/forms/Oju8NfEDfj5LbYG32" target="_blank" class="btn btn-outline btn-xl page-scroll">Jelentkezés</a>

                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-4x fa-code text-primary"></i>
                                    <h3>Projekt</h3>
                                    <p class="text-muted">A jelentkezésednek tartalmaznia kell egy korábbi projekted kódját és rövid leírását (max. egy A4-es oldal): mi volt a probléma, amit meg akartál oldani, hogyan választottál technológiát, hogyan oldottad meg a problémát. Kezdőként ez lehet egy nagyon egyszerű kód is, nem várunk el nagy előképzettséget.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-4x fa-signal text-primary"></i>
                                    <h3>Előismeretek</h3>
                                    <p class="text-muted">A beküldött program alapján döntünk, hogy van-e elég tapasztalatod ahhoz, hogy jól érezd magad a táborban, mivel nem teljesen kezdő szintről indítjuk a programokat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-4x fa-question-circle text-primary"></i>
                                    <h3>Kérdések</h3>
                                    <p class="text-muted">Nem vagy biztos benne, hogy neked való a tábor? <a href="mailto:ago-techtabor [KUKAC] googlegroups [PONT] com">Kérdezz meg minket emailben!</a></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-4x fa-user-plus text-primary"></i>
                                    <h3>Jelentkezés</h3>
                                    <p class="text-muted">A jelentkezés feltétele <a href="https://goo.gl/forms/Oju8NfEDfj5LbYG32" target="_blank">ennek az űrlapnak</a> a kitöltése. A jelentkezés határideje: <strong>2018.&nbsp;május&nbsp;31.</strong> (csütörtök).</p>
                                    <p><a href="https://goo.gl/forms/Oju8NfEDfj5LbYG32" target="_blank" class="btn btn-outline-dark btn-xl page-scroll">Jelentkezés</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
