<section id="projects" class="download task-description text-center">
  <div class="container">
    <div class="header-content-inner cta-content cta">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="section-heading">Projektek</h1>
        <p>Az alábbi projekteket mind korábbi diákjaink vezették és készítették.</p>
        <a href="/projects" class="btn btn-outline btn-xl page-scroll" style="color:white">
          Az összes projekt listája
        </a>
      </div>
    </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">
      {% for post in site.categories.projektek %}
      {% if post.tags contains 'featured' %}
      <div class="col-lg-4 col-sm-6">
        <a href="{{ post.url }}" class="portfolio-box">
          <img src="/{{ post.header-img }}" class="img-responsive" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                {{ post.title }}
              </div>
              <div class="project-name">
                {{ post.subtitle }}
              </div>
              <div class="project-tags">
                {% for tag in post.tags %}
                {% if tag != 'featured'%}
                  #{{ tag }}
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
