<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>
              A Techtáborban középiskolások gyakorolhatják egy valódi probléma technológia segítségével való megoldását
              mentorok támogatásával.
            </h1>
            <a href="#overview" class="btn btn-outline btn-xl page-scroll">Céljaink</a>
            <a href="/program-description" class="btn btn-outline btn-xl page-scroll">A programról részletesebben</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container">
          <div class="device-mockup nexus7 black portrait">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="/img/techtabor/almasderes-1-1.png" class="img-responsive" alt="working_in_camp" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
