<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Menü ki/bekapcsolása</span> Menü <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo-small-256.png" />
                {{ page.title | truncatewords: 2 | remove: ":..."}}
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if page.previous-task %}
                    <li><a href="{{page.previous-task}}">Előző</a></li>
                {% endif %}
                {% if page.next-task %}
                    <li><a href="{{page.next-task}}">Következő</a></li>
                {% endif %}
                <li><a href="#hints" class="page-scroll">Segítségek</a></li>
                <li><a href="{{page.overview}}">Áttekintés</a></li>
                <li><a href="/">Techtábor Főoldal</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
    