<section id="projects" class="download bg-primary text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="section-heading">Táborvezetők és mentorok</h2>
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/ildi.png" class="img-responsive" alt="ildi_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Czeller Ildi
              </div>
              <div class="project-name">
                Ildi matematikusként végzett az ELTE-n, most az Emarsysnál dolgozik szoftverfejlesztőként.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/geza.png" class="img-responsive" alt="geza_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Csenger Géza
              </div>
              <div class="project-name">
                Géza a University of Cambridge tanulója Computer Science szakon. A Techtábor mellett matektáborokban is
                részt vesz mint segítő.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/miki.png" class="img-responsive" alt="miki_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Danka Miki
              </div>
              <div class="project-name">
                Miki Cambridge-ben végzett, Amszterdamban él, és a Szilícium-völgyi Palantirnál dolgozik termékvezetői
                pozícióban.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/andris.png" class="img-responsive" alt="andris_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Eisenberger Andris
              </div>
              <div class="project-name">
                Andris fiatal kora óta programozik, sok versenyen részt vett versenyzőként, majd néhányon szervezőként
                is. Jelenleg a BeeRides magyar startup fejlesztője.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/peti.png" class="img-responsive" alt="peti_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Juhász Peti
              </div>
              <div class="project-name">
                Peti A Gondolkodás Öröme Alapítvány vezetője, a MaMuT főszervezője, több matektábor vezetője, egyetemi
                és iskolai matektanár. Szoftvermérnöki tapasztalatát a SZTAKI-ban szerezte.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/laci.png" class="img-responsive" alt="laci_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Nikházy Laci
              </div>
              <div class="project-name">
                Laci a Google müncheni irodájában kezdte programozói pályafutását, később pedig a magyar NNG fejlesztője
                volt.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="portfolio-box">
          <img src="/img/mentorok/bagoly.png" class="img-responsive" alt="bagoly_profile">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                Szűcs Gábor
              </div>
              <div class="project-name">
                Gábor A Gondolkodás Öröme Alapítvány szervezője és tanára. Szoftvermérnöki tapasztalatát a SZTAKI-ban
                szerezte.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
