<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% include nav-dojo.html %}

<section class="task-description">
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            {{ content }}
        </div>
    </div>
</div>
</section>

<section class="coding-area">
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="container col-xs-12" id="editor-container">
                    <pre id="editor">

let s = input();
print("Hello " + s);</pre>
                </div>
            </div>
            <div class="row button-row" id="exec-button-row">
                <div class="col-xs-6 col-md-2">
                    <button class="btn btn-primary btn-xl btn-exec" onclick="runWithDelay()">Futtatás</button>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a class="btn btn-success btn-xl btn-exec btn-test-exec page-scroll" href="#exec-button-row" onclick="startTest()">Ellenőrzés</a>
                </div>
                <div class="col-xs-12 col-md-7">
                    <p id="notification-area"><br></p>
                </div>
            </div>
            <div class="row io-row">
                <div class="col-md-5"><p>Bemenet:<textarea id="stdin-text" class="form-control" rows="5"></textarea></p></div>
                <div class="col-md-7"><p>Kimenet:<textarea id="stdout-text" class="form-control" rows="5"></textarea></p></div>
            </div>
        </div>
    </div>
</div>

<div id="test-container" class="container">
    <div class="row">
        <div class="col-lg-10">
        {% for test in site.data.dojotestdata[page.id] %}
            <div class="panel panel-default test-panel" id={{ "test-panel-" | append: forloop.index }}>
                <div class="panel-heading">
                    <h4><span>{{forloop.index}}. teszt</span>
                    <a class="btn btn-default btn-test-exec page-scroll" href="#exec-button-row" onclick="singleTest({{forloop.index}})">
                        Teszt futtatása
                    </a></h4>
                </div>
                <div class="panel-body"><div class="row">
                    <div class="col-md-5">
                        <span>Bemenet:</span>
                        <pre class="test-input-text" id="test-input-{{forloop.index}}">{{ test.input }}</pre>
                    </div>
                    <div class="col-md-7">
                        <span>Helyes kimenet:</span>
                        <pre class="test-output-text" id="test-output-{{forloop.index}}">{{ test.output }}</pre>
                    </div>
                </div></div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<!-- Modal dialog for success-->
<div id="success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h4 class="modal-title text-success">Gratulálok, megoldottad ezt a feladatot <i class="fa fa-smile-o"></i></h4>
            </div>
            <div class="modal-body">
                <p class="text-success">Minden tesztre helyes választ adott a programod.
                {% if page.next-task %}
                <br>Jöhet a következő kihívás? ^^</p>
            </div>
            <div class="modal-footer">
                <a href="{{page.next-task}}" class="btn btn-default btn-xl">Következő feladat</a>
                {% else %}
                <br>Ezzel sikeresen teljesítetted ezt a küldetést <i class="fa fa-smile-o"></i></p>
            </div>
            <div class="modal-footer">
                <a href="/" class="btn btn-default btn-xl">Vissza a főoldalra</a>    
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>

<section id="hints">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h3 class="header">Segítségek</h3>
                {% include dojo-io.html %}
                {% include dojo-checking.html %}
            </div>
        </div>
    </div>
</section>

{% include contact.html %}

{% include scripts.html %}
<script src="{{ site.baseurl }}/js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.baseurl }}/js/dojo.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        init("{{page.id}}", "{{page.previous-task}}");
    });
</script>
</body>

</html>
