<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
{% include nav-blog.html %}

<section class="task-description">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                {{ content }}
            </div>
        </div>
    </div>
</section>

<section class="coding-area">
    <script type="text/javascript" src="/js/processing.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <canvas data-processing-sources="{{page.processing-source}}" style="margin:50px;border:1px solid black;"></canvas>
            </div>
        </div>
    </div>
</section>

{% include contact.html %}
{% include scripts.html %}
</body>

</html>
